{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECOMMERCE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'ecom/main.css' %}"> 
  <link rel="stylesheet" href= {% static 'ecom/app.js' %}>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-top-fixed  navbar-expand-md w3-text-white w3-black" style="background-color:black;padding:10px 32px;">
  <a class="navbar-brand btn-2" style="font-weight:bold;" href="{% url 'ecom-home' %}">TITAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar" style="padding:0px 32px;">
    
    <ul class="navbar-nav">
     {% if user.is_authenticated %}
       <li class="nav-item">
      <a class="nav-link btn-2" href="{% url 'profile' %}">{{ user.username.upper}}</a>
      </a>
      </li>
       <li class="nav-item">
      <a class="nav-link btn-2" href="{% url 'logout' %}">Logout</a>
      </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link btn-2" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link btn-2" href="{% url 'register' %}">Register</a>
      </li>    
    </ul>
  </div>  
</nav>
{% block content %}

{% endblock %}
</body>
</html>